@font-face {
    font-family: 'HelveticaNeue';
    src: url("../resources/HelveticaNeue.ttc")
}
*{
    font-family: 'HelveticaNeue';
}
body{
    margin: 0;
}

.leftbutton{
    width: 50px;
    height: 50px;
    background-color: #D9D9D9;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-left: 70px;
}
.leftbutton a{
    text-decoration: none!important;
    width: 100%;
    text-align: center;
}
a{
    text-decoration: none!important;
}
header{
    display: flex;    
}
.text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding-right: 100px;
}
.main{
    width: 100%;
    padding: 50px 371px 50px 371px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.about-laptop{
    display: flex;
    justify-content: space-around;
}
.about-laptop img{
    width: 577px;
    height: 340px;
    image-rendering: optimizeQuality;
}
.about-person{
    display: flex;
    margin-left: 68px;
}
.right-side{
    margin-left: 80px;
    font-size: 22px;
    color: #797979;
    font-weight: 600;
}
.left-side{
    font-size: 22px;
    color: #2E2E2E;
    font-weight: 600;
}
.custom-line{
    width: 100%;
    height: 2px;
    border-bottom: 1px solid rgba(165, 165, 165, 1);
    margin-top: 80px;
}
.about-laptop_data{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    box-sizing: border-box;
    padding-right: 170px;
}
.flex{
    display: flex;
    
    justify-content:space-between ;
    
}
.about-laptop_purchase{
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 160px;
}

@media only screen and (max-width: 391px) {
    .main{
        padding: 0px 16px 16px 16px;
        margin-top: 20px;
    }
    .main p{
        font-size: 14px!important;
    }
    .about-laptop img{
        width: 358px;
        height: 191px;
    }
    .about-laptop, .about-laptop_data, .about-laptop_purchase{
        flex-wrap: wrap;
        padding: 0;
        width: auto;
    }
    .flex{
        margin-left: 0px;
    }
    .leftbutton{
        margin-left: 10px;
        background-color: transparent;
        margin-top: 20px;
    }
    .text h1{
        font-size: 16px!important;
        margin-left: 50px;
    }
    .about-person{
        margin-left: 0px;
        margin-top: 20px;
    }
    .custom-line{
        margin-top: 40px;
    }
    .about-laptop_purchase .flex{
        margin: 0px!important;

    }
    .about-laptop_purchase{
        margin-top: 20px;
       
    }
    .purchase p{
        margin-top: -2px!important;
    }
    .flex{
        text-align: justify;
    }
    .first p{
        margin-left: -28px!important;
    }
    .second{
        margin-top: -15px;
    }
}