@font-face {
    font-family: 'HelveticaNeue';
    src: url("../resources/HelveticaNeue.ttc")
}
body{
    background-color: #F6F6F6;
    margin: 0;
    padding: 0;
}
*{
    font-family: 'HelveticaNeue';
}

form{
    width: 1226px;
    height: 973px;
    margin: auto;
    padding: 25px 174px 25px 174px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    margin-top: 42px;
    border-radius: 18px;
}
.person--fullname{
    display: flex;
    margin-top: 90px;
}
input{
    width: 100%;
    height:60px;
    border-radius: 8px;
    border-color: #8AC0E2;
    gap: 10px;
    border-width: 1.8px;
    border-style: solid;
    padding-left: 16px;
    box-sizing: border-box;
}
input[type="text"]{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    
}
input:focus{
    outline: none;
    border-color:#6499FF;
    background-color: rgba(43, 75, 242, 0.06);
    transition: 0.2s;
}
.fname, .lname{
    width: 100%;
}
.select--position, .select--team{
    width: 100%;
    height: 60px;
    background-color: rgba(235, 235, 235, 1);
    border-radius: 8px;
    gap: 10px;
    padding-left: 16px;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-size: 22px;
}
.select--team, .select--position{
    margin-top: 50px;
}
label, select{
    font-size: 18px!important;
    line-height: 21px;
    font-weight: 650;
}
option{
    font-size: 18px;
}
.leftbutton{
    width: 50px;
    height: 50px;
    background-color: #D9D9D9;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-left: 70px;
}
.leftbutton i{
    font-size: 20px;
    color: #2E2E2E;
}
p{
    margin: 0;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 10px;
}
.submit{
    width: 176px;
    height: 60px;
    float: right;
    margin-top: 90px;
    border-radius: 8px;
    border: none;
    background-color: #62A1EB;
    font-size: 20px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-right: 16px;
    cursor: pointer;
    letter-spacing: 1px;
}
.category p{
    font-size: 20px;
    color: #232323;
    font-weight: 700;
    padding: 0;
}
.category{
    width: auto;
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    margin: auto;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding-bottom: 40px;
}
.div-underline{
    width: 180px; 
    border-radius: 40px;
    height: 0px;
    border-bottom: 3px solid #000000;
    margin: auto;
    margin-top: 15px;
}
a{
    text-decoration: none;
}


@media only screen and (max-width: 391px) {
    form{
        width:100%;
        height: 760px;
        margin-top: 30px;
        padding: 38px 16px 38px 16px;
    }
    .div-underline, .laptop-header, .logo{
        display: none;
    }
    a{
        width: 50px;
        text-align: center;
    }
    .leftbutton{
        margin-left: -5px;
        background-color: transparent;
        margin-top: 20px;
    }
    .category{
        margin-left: 100px;
        margin-top: -40px;
    }
    .person--fullname{
        flex-wrap: wrap;
        width: 100%;
        margin-top: -20px;
    }
    .person--fullname input{
        width:100%
    }
    .lname{
        margin-left: 0px!important;
        margin-top: 5px;
    }
    .select--position, .select--team, .submit{
        margin-top: 15px;
    }
    .email, .phone--number{
        margin-top: 3px!important;
    }
}




